{% extends "base.html" %}
{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/authfields.css' %}">
{% endblock %}

{% block body %}
	<div class="row authbar">
		<div class="col-8 col-md-5 col-xl-4 fields-wrapper">
			<div class="col-4 col-md-4 col-xl-4 logo-wrapper">
				<img src="{% static 'img/logo_icon.png' %}" alt="logo" class="img-fluid logo">
			</div>

            <p class="main-text">
                ЭкоБлаго
            </p>

            <p class="current-auth-text">
                {% if auth_option == 0 %}
                    Вход
                {% else %}
                    Регистрация
                {% endif %}
            </p>

			<form class="auth-option-wrapper" method="POST" action="{% url 'loginpage:login' %}" name="auth-option-wrapper">
				{% csrf_token %}
				<button class="auth-option-button" name="auth-option-login" {% if auth_option == 0 %}style="color: #007bff!important; border-bottom: 3px solid #007bff!important;"{% endif %}>Вход</button>
				<button class="auth-option-button" name="auth-option-signup" {% if auth_option == 1 %}style="color: #007bff!important; border-bottom: 3px solid #007bff!important;"{% endif %}>Регистрация</button>
			</form>

			<form class="auth-form" method="POST" action="{% url 'loginpage:login' %}" name="auth-form">
				{% csrf_token %}
				{% for field in form %}
					{{ field }}
				{% endfor %}

                {% if error_message %}
                    <p class="error-message">{{ error_message }}</p>
                {% endif %}

                {% if errors %} {{ errors }} {% endif %}
				<button name="commit-button" class="commit-button" type="submit">
					<p class="button-text">{{ button_text }}</p>
					<img src="{% static 'img/right_arrow.png' %}" alt="->" class="right-arrow" id="login-status">
				</button>
			</form>
		</div>
	</div>
{% endblock %}