{% load static %}
{% load i18n %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/includes/footer.css' %}">
{% endblock link %}

<div class="footer">
  <img src="{% static 'img/ecoblago.png' %}" alt="Экоблаго" style="width: 90px; height: 90px;">
  <label class="brand-name">{% trans 'Экоблаго' %}</label>
  <p class="footer-description">
    {% trans 'Мы — платформа, где можно делиться вещами и продуктами с нуждающимися, помогая людям и экологии. Удобный сервис для благотворительности и перераспределения ресурсов. Помогайте легко: размещайте вещи, которые не нужны вам, но пригодятся другим.' %}
  </p>
  <p class="footer-description">
    {% trans 'Все просто, быстро и доступно.' %}
  </p>
  <p class="footer-description">
    {% trans 'Наша цель — сделать мир добрее и экологичнее, объединяя людей для взаимной помощи.' %}
  </p>
  <div class="links-section">
    <p class="footer-description" style="margin-top: 1.5rem;">
      {% trans "Больше информации об ЭкоБлаго" %}:
    </p>
    <div class="links">
      <a target="_blank" href="https://t.me/ecoblago">
        <i class="fa-brands fa-telegram"></i>
      </a>
      <a target="_blank" href="https://github.com/Yerassylzh/ecoblago">
        <i class="fa-brands fa-github"></i>
      </a>
      <a target="_blank" href="https://www.figma.com/files/team/1184158040186876030/project/312145095/Ecoblago">
        <i class="fa-brands fa-figma"></i>
      </a>
    </div>
  </div>
</div>
