* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(2rem + 1.2vw); /* Scales from 2rem to a larger size */
}

h2 {
  font-size: calc(1.75rem + 1vw); /* Slightly smaller than h1 */
}

h3 {
  font-size: calc(1.5rem + 0.9vw); /* Balanced scaling for h3 */
}

h4 {
  font-size: calc(1.25rem + 0.8vw); /* Smaller and scales proportionally */
}

h5 {
  font-size: calc(1rem + 0.7vw); /* Compact but still fluid */
}

h6 {
  font-size: calc(0.875rem + 0.6vw); /* The smallest heading */
}

button:hover {
  cursor: pointer;
}

html {
  width: 100vw;
  height: 100vh;
}

.error-message {
  color: rgb(220, 79, 79);
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
}

hr {
  background-color: var(--txt-primary);
}

.txt-primary {
  color: var(--txt-primary);
}

.txt-secondary {
  color: var(--txt-secondary);
}

body {
  background-color: var(--body-color);
}

.messages-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 300px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.message.show {
  animation: moveMessageIn 0.2s ease-out forwards;
}

.message.hide {
  animation: moveMessageOut 0.2s ease-out forwards;
}

.message.success {
  background-color: #4caf50;
}

.message.failure {
  background-color: #f44336;
}

@keyframes moveMessageIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveMessageOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
