{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/settingspage/settingspage.css' %}?v={% now 'U' %}">
<title>Настройки</title>
{% endblock links %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock navbar %}

{% block main %}
<main class="txt-primary">
  <div class="row main-row">
    <div class="col-12 col-md-10 col-xl-9">
      <div class="wrapper">
        <div class="profile-bar">
          <p>{% trans "Настройки" %}</p>
          <div class="section">
            <p>{% trans "Безопасность" %}</p>
            <hr>
            <div class="popup-action" id="change-password">
              <div class="header">
                <p>{% trans "Изменить пароль" %}</p>
                <button data-state="hidden" class="popup-header-btn" id="change-password-popup-btn">
                  <i class="fa-solid fa-angle-down expander-arrow"></i>
                </button>
              </div>
              <div class="body" style="width: 400px;">
                <div class="input-field-wrapper">
                  <input type="password" name="password" id="new-password" placeholder="Новый пароль" required>
                  <div>{% trans "Новый пароль" %}</div>
                </div>
                <div class="input-field-wrapper">
                  <input type="password" name="password" id="new-password-confirm" placeholder="Подтвердите новый пароль" required>
                  <div>{% trans "Подтвердите новый пароль" %}</div>
                </div>
                <button id="confirm-new-password-btn" class="confirm-new-password-btn" onclick="changePassword()">
                  <p class="button-text">{% trans "Подтвердить" %}</p>
                  <svg id="arrow-right" class="arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    fill="white" viewBox="0 0 256 256" class="ml-1">
                    <path
                      d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z">
                    </path>
                  </svg>
                  <span id="loading-gif" class="loading" style="display: none;"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans "Цветовая тема" %}</p>
            <hr>
            <div class="multiple-choice-actions" id="toggle-theme">
              <div class="radio-input-wrapper">
                <input type="radio" id="light-theme" {% if theme == "light" %}checked{% endif %}>
                <label for="light-theme">{% trans "Светлая" %}</label>
              </div>
              <div class="radio-input-wrapper">
                <input type="radio" id="dark-theme" {% if theme == "dark" %}checked{% endif %}>
                <label for="dark-theme">{% trans "Темная" %}</label>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans "Язык" %}</p>
            <hr>
            <div class="multiple-choice-actions" id="toggle-lang">
              <div class="radio-input-wrapper">
                <input type="radio" id="lang-kk" {% if lang == "kk" %}checked{% endif %}>
                <label for="lang-kk">{% trans "Казахский" %}</label>
              </div>
              <div class="radio-input-wrapper">
                <input type="radio" id="lang-ru" {% if lang == "ru" %}checked{% endif %}>
                <label for="lang-ru">{% trans "Русский" %}</label>
              </div>
              <div class="radio-input-wrapper">
                <input type="radio" id="lang-en" {% if lang == "en" %}checked{% endif %}>
                <label for="lang-en">{% trans "Английский" %}</label>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans "Аккаунт" %}</p>
            <hr>
            <div class="manage-account">
              <button class="logout-btn" onclick="logout()">{% trans "Выйти с аккаунта" %}</button>
              <button class="delete-account-btn" id="delete-account-btn" onclick="deleteAccount()">{% trans "Удалить аккаунт" %}</button>
            </div>
          </div>
        </div>
        {% include 'includes/footer.html' %}
      </div>
    </div>
  </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  const htmlElement = document.documentElement;
</script>

<style>
  :root {
    --background-color: var(--body-color) !important;
    --widget-color: white;
  }

  [data-theme="dark"] {
    --background-color: var(--body-color) !important;
    --widget-color: rgb(40, 40, 40);
  }
</style>

<script src="{% static 'js/settingspage/settingspage/settingspage.js' %}?v={% now 'U' %}"></script>

{% endblock main %}
