* {
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

html {
    width: 100vw;
    height: 100vh;
}

.remember-me-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding-left: 1%;
    gap: 2%;
}

.logo {
    border-radius: 15px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.current-auth-type-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    padding: 0;
}

.error-message {
    color: rgb(220, 79, 79);
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.auth-type-button {
    background-color: transparent; /* Makes the button transparent */
    border: none; /* Removes default border */
    outline: none; /* Removes default outline */
    padding: 10px 20px; /* Add padding for button size */
    color: gray; /* Set text color */
    border-bottom: 3px solid rgb(230, 230, 230); /* Add a blue bottom outline */
    cursor: pointer; /* Change cursor to a pointer on hover */
    font-size: 20px;
    width: 100%;
}

.auth-type-button:hover {
    color: rgb(50, 50, 50);
    border-bottom: 3px solid rgb(200, 200, 200);
}

.auth-type-button-selected {
    background-color: transparent; /* Makes the button transparent */
    border: none; /* Removes default border */
    outline: none; /* Removes default outline */
    padding: 10px 20px; /* Add padding for button size */
    cursor: pointer; /* Change cursor to a pointer on hover */
    font-size: 20px;
    width: 100%;

    color: #007bff!important;
    border-bottom: 3px solid #007bff!important;
}

.auth-options-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

body {
    background-color: rgb(233, 233, 233);
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right-arrow {
    width: 1.5rem;
    height: 1.5rem;   
}

.main-inner {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F0F1;
}

.authbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 40px;
    padding-right: 20px !important;
    padding-bottom: 40px;
    padding-left: 20px !important;
    background-color: white;
    border-radius: 10px;


    margin-top: 2rem !important;
    margin-bottom: 2rem;
}

.input-field {
    background: #ECECEC;

    outline: none;
    border-radius: 10px;
    border: solid #B1B1B1 2px;

    box-shadow: 0 1px 2px rgb(200, 200, 200);

    padding-left: 10px;

    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 100%;

    transition: all 0.1s ease-in-out;
    padding: 10px;
}

.input-field:hover {
    border: solid #24C276 2px;
}

.input-field:focus {
    border: solid #24C276 2px;
}

.input-field::placeholder {
    color: #B2B2B2;
}

.commit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, #24C276, #20ac68);
    outline: none;
    border: none;
    border-radius: 6px;

    transition: all 0.1s ease-in-out;
    padding: 5px;
    width: 100%;
}

.commit-button:hover {
    background: linear-gradient(to bottom, #2fd585, #30d988);
}


.button-text {
    color: white;
    font-size: 1.2rem;
    font-weight: 450;

    margin: 0;
    padding: 0;
}

.remember-me-container label {
    font-family: Inter, sans-serif;
    font-size: 1rem;

    font-weight: 400;
    padding: 0;
    margin: 0;
}

.company-name-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    padding: 0;
    margin: 0;
}

.non-visible {
    display: none;
}

.input-fields-container {
    width: 100%;
    max-height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    overflow-y: auto;

    gap: 1.25rem;
    padding-right: 0.25rem; /*for scrollbar thumb */
}

.input-fields-container::-webkit-scrollbar {
    width: 5px;
}

.input-fields-container::-webkit-scrollbar-thumb {
    background-color: #b1b1b1;
    border-radius: 5px;
}

.input-fields-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.input-fields-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}
