{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/includes/navbar.css' %}">
{% endblock links %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block main %}
<main class="txt-primary">
  <div class="main-inner">
    <div class="container-fluid" id="filter-wrapper">
      <div id="filter" class="row filter">
        <div class="col-12 col-md-6 col-xl-7 text-search">
          <div class="iconic-input-field-wrapper">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Что ищете?" id="filter-text-input">
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-2 location-search">
          <div class="iconic-input-field-wrapper">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" id="location-filter-input" placeholder="Вся страна">
          </div>
        </div>
        <div class="col-6 col-md-6 col-xl-1 more-filters">
          <button class="more-filters-btn">
            <i class="fa-solid fa-filter"></i>
          </button>
        </div>
        <div class="col-6 col-md-6 col-xl-2 submit-wrapper">
          <button class="search-btn" id="filter-btn" onclick="onFindProductsClicked()">Поиск</button>
        </div>
      </div>
      <dialog class="popup" id="regions-dialog">
        <div style="padding: 1rem;">
          <div class="row options-row">

          </div>
        </div>
      </dialog>
    </div>
    <div class="products row">
      {% for product in object_list %}
      <div class="col-12 col-md-4 col-xl-3">
        <div class="product">
          <input type="hidden" class="product-id-input" value="{{ product.id }}">
          <div class="product-image">
            <img src="{{ product.gallery_images.first.image.url }}" alt="product">
          </div>
          <div class="product-info">
            <div class="text-section">
              <h3 class="product-title">{{ product.title }}</h3>
              <p class="product-price">{{ product.cost }}</p>
            </div>
            <div class="like-section">
              <i class="fa-regular fa-heart like-empty" {% if product in liked_products %}style="display: none;" {% else %}style="display: block;" {% endif %}></i>
              <i class="fa-solid fa-heart like-full" {% if product in liked_products %}style="display: block;" {% else %}style="display: none;" {% endif %}></i>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include 'includes/footer.html' %}
</main>

<script>
  const CSRF_TOKEN = "{{ csrf_token }}"

  function getNewDialogWidget(id) {
    return `
      <dialog class="popup" id="${id}">
        <div style="padding: 1rem;">
          <div class="row options-row">

          </div>
        </div>
      </dialog>
      `;
  }

  document.addEventListener("click", (e) => {
    if (e.target.closest(".like-empty") != null) {
      let like = e.target.closest(".like-empty");
      addToFavourites(like);
    } else if (e.target.closest(".like-full") != null) {
      let like = e.target.closest(".like-full");
      removeFromFavourites(like);
    }
  });

  function addToFavourites(like) {
    like.style.display = 'none';
    like.nextElementSibling.style.display = 'block';
    $.ajax({
      type: 'POST',
      url: "{% url 'catalog:catalog' %}",
      data: {
        "product_id": like.parentElement.parentElement.parentElement.querySelector('.product-id-input').value,
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "action": "add-product-to-favourites",
      },
      success: function (data) {
        const success = data["success"];
        if (success) {
          showToast("Product was added to favorites", true);
        } else {
          showToast("Product was not added to favorites", false);
        }
      }
    });
  }

  function removeFromFavourites(like) {
    like.style.display = 'none';
    like.previousElementSibling.style.display = 'block';
    $.ajax({
      type: 'POST',
      url: "{% url 'catalog:catalog' %}",
      data: {
        "product_id": like.parentElement.parentElement.parentElement.querySelector('.product-id-input').value,
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "action": "remove-product-from-favourites",
      },
      success: function (data) {
        const success = data["success"];
        if (success) {
          showToast("Product was removed from favorites", true);
        } else {
          showToast("Product was not removed from favorites", false);
        }
      }
    });
  }


  function getProductWidget(product) {
    return `
      <div class="col-12 col-md-4 col-xl-3">
        <div class="product">
          <input type="hidden" class="product-id-input" value="${product.id}">
          <div class="product-image">
            <img src="${product.main_image.url}" alt="product">
          </div>
          <div class="product-info">
            <div class="text-section">
              <h3 class="product-title">${product.title}</h3>
              <p class="product-price">${product.cost}</p>
            </div>
            <div class="like-section">
              <i class="fa-regular fa-heart like-empty" style="display: ${product.is_liked ? 'none' : 'block'};"></i>
              <i class="fa-solid fa-heart like-full" style="display: ${product.is_liked ? 'block' : 'none'};"></i>
            </div>
          </div>
        </div>
      </div>
    `;
  }

  function addProduct(product) {
    const productWidget = getProductWidget(product);
    document.querySelector('.products').insertAdjacentHTML('beforeend', productWidget);
  }

  function removeAllProducts() {
    document.querySelector('.products').innerHTML = '';
  }

  function onFindProductsClicked() {
    const search = $("#filter-text-input").val();
    let region, city;
    if ($("#location-filter-input").val() == '') {
      region = '';
      city = '';
    } else {
      let [first, second] = $("#location-filter-input").val().split(",").map(item => item.trim());
      region = first;
      city = second;
    }

    $.ajax({
      method: "POST",
      url: "{% url 'catalog:catalog' %}",
      data: {
        "csrfmiddlewaretoken": CSRF_TOKEN,
        "search_text": search,
        "region": region,
        "city": city,
        "action": "filter-products",
      },
      dataType: "json",
      beforeSend: () => {
        $("#filter-btn").text("Подождите..");
        $("#filter-btn").prop('disabled', true);
      },
      success: (data) => {
        const success = data["success"];
        if (!success) {
          showToast(data["error"], false);
          return;
        }

        removeAllProducts();
        data["products"].forEach(product => {
          addProduct(product);
        });
      },
      error: (error) => {
        showToast("Произошла ошибка при фильтрации товаров", false);
        console.error("Error fetching products:", error);
      },
      complete: () => {
        $("#filter-btn").text("Поиск");
        $("#filter-btn").prop('disabled', false);
      }
    });
  }

  function insertOptionWidgets(options, optionsRow) {
    for (let i = 0; i < options.length; i++) {
      let option = options[i];
  
      const optionWidget = `
        <div style="margin-bottom: 0.5rem;" class="col-12 col-md-6 col-xl-4">
          <div class="select-option">
            <i class="fa-solid fa-city" style="color: var(--txt-primary); font-size: 1rem; margin: 0 0.5rem;"></i>
            <p>${option}</p>
          </div>
        </div>
      `;
      optionsRow.html(optionsRow.html() + optionWidget);
    }
  }

  function displayRegions() {
    $.ajax({
      type: "GET",
      url: "{% url 'catalog:catalog' %}",
      data: {
        "action": "get-regions",
      },
      dataType: "json",
      success: (data) => {
        const success = data["success"];
        if (!success) {
          return;
        }

        let regions = data["regions"];
        insertOptionWidgets(regions, $("#regions-dialog").children().first().children().first());
        document.getElementById("regions-dialog").showModal();
      },
      error: function (error) {
        console.error("Error fetching regions:", error);
      }
    });

  }

  const locationInput = $("#location-filter-input");
  locationInput.on("focus", () => {
    displayRegions();
  });


  // as soon as the region was selected, we display city options
  document.addEventListener("click", (e) => {
    if (e.target.closest(".select-option") == null) {
      return;
    }

    const dialogId = e.target.closest("dialog").getAttribute("id");
    if (dialogId != "regions-dialog") {
      return;
    }

    let region;
    if (e.target.classList.contains("select-option")) {
      region = e.target.lastElementChild.textContent;
    } else {
      if (e.target.tagName != 'P') {
        region = e.target.nextElementSibling.textContent;
      } else {
        region = e.target.textContent;
      }
    }

    $("#filter-text-input").attr("value", $("#filter-text-input").val());
    $.ajax({
      method: "GET",
      url: "{% url 'catalog:catalog' %}",
      data: {
        "action": "get-cities",
        "region": region,
      },
      dataType: "json",
      success: (data) => {
        const success = data["success"];
        if (!success) {
          showToast("Не удалось получить список городов", false);
          return;
        }

        $("#location-filter-input").attr("value", region);
        document.getElementById("regions-dialog").close();
        document.getElementById("regions-dialog").remove();
        $("#regions-dialog").children().first().children().first().html('');
        $("#filter-wrapper").html($("#filter-wrapper").html() + getNewDialogWidget("cities-dialog"));
        $("#cities-dialog").children().first().children().first().html("");

        let cities = data["cities"];
        let optionsRow = $("#cities-dialog").children().first().children().first();
        insertOptionWidgets(cities, optionsRow);
        document.getElementById("cities-dialog").showModal();
      },
      error: function(xhr, errmsg, err) {
          console.log(xhr.status + ":" + xhr.responseText)
      }
    });
  });

  // When city option was chosen
  document.addEventListener("click", (e) => {
    if (e.target.closest(".select-option") == null) {
      return;
    }

    let city;
    if (e.target.classList.contains("select-option")) {
      city = e.target.lastElementChild.textContent;
    } else {
      if (e.target.tagName == 'P') {
        city = e.target.textContent;
      } else {
        city = e.target.closest("i").nextElementSibling.textContent;
      }
    }

    $("#location-filter-input").attr("value", $("#location-filter-input").attr("value") + ", " + city);
    document.getElementById("cities-dialog").close();

    document.getElementById("cities-dialog").remove();
    $("#filter-wrapper").html($("#filter-wrapper").html() + getNewDialogWidget("regions-dialog"));
  });
</script>

<style>
  :root {
    --background-color: var(--body-color) !important;
    --widget-color: white;
  }

  [data-theme="dark"] {
    --background-color: var(--body-color) !important;
    --widget-color: rgb(40, 40, 40);
  }
</style>

<style>
  .select-option {
    cursor: pointer;
    color: var(--txt-primary);
  }

  .select-option>img {
    width: 30px;
    height: 30px;

    border-radius: 10%;
    margin-right: 0.5rem;
  }

  .select-option>p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
  }

  .select-option {
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 2px solid gray;
    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .filter {
    padding: 0;
    margin-bottom: 3rem !important;
  }

  .filter>div {
    margin: 0;
    padding: 2px !important;
  }

  .search-btn {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;

    border: none;
    outline: none;
    border-radius: 0.25rem;
    background-color: var(--green-primary);
    color: white;

    padding: 0.5rem 1rem;
  }

  .search-btn:hover {
    filter: brightness(92%);
  }

  i {
    color: var(--txt-primary);
  }

  .more-filters-btn {
    outline: none;
    border: none;
    width: 100%;
    height: 46px;
    background-color: var(--widget-color);
    border-radius: 5px;
  }

  .more-filters-btn:hover {
    filter: brightness(85%);
  }

  .filter {
    width: 100%;

    display: flex;
    flex-direction: row;

    margin-bottom: 1rem;
  }

  .main-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 1.5rem 2rem;
  }

  .like-empty {
    margin-top: 3px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .like-full {
    margin-top: 3px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  body {
    overflow-x: hidden;
  }

  .products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .product {
    margin: 0;
    padding: 0;
    border-radius: 0.75rem;
    background-color: var(--widget-color);
    margin-bottom: 1rem;
  }

  .product-image img {
    border-radius: 0.75rem 0.75rem 0 0;
    width: 100%;
    aspect-ratio: 460/300;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .like-section {
    height: 100%;
  }

  .product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.25rem 0.5rem 1.75rem 0.5rem;
  }

  .product-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
  }

  .product-price {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
  }
</style>

{% endblock main %}