{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% load custom_filters %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock navbar %}

{% block main %}

{% include 'includes/catalog/create_product.html' %}

{{ regions|json_script:"regions-data" }}
{{ categories|json_script:"categories-data" }}

<style>
  :root {
    --background-color: var(--body-color) !important;
    --widget-color: white;
  }

  [data-theme="dark"] {
    --background-color: var(--body-color) !important;
    --widget-color: rgb(40, 40, 40);
  }
</style>

<script src="{% static 'js/catalog/create_product/create_product.js' %}"></script>

{% endblock main %}
