{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% load custom_filters %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock navbar %}

{% block main %}

{% include 'includes/catalog/create_product.html' %}

{{ image_urls|json_script:"image_urls" }}
{{ regions|json_script:"regions-data" }}
{{ categories|json_script:"categories-data" }}

<script>
  const PRODUCT_ID = "{{ object.id }}";
  const title = "{{ object.title }}"
  const description = "{{ object.description }}"
  const cost = "{{ object.cost }}"
  const region = "{{ object.region }}"
  const city = "{{ object.city }}"
  const category = "{{ object.category }}"
  const phoneNumber = "{{ object.phone_number }}"
  const email = "{{ object.email }}"
</script>

<style>
  :root {
    --background-color: var(--body-color) !important;
    --widget-color: white;
  }

  [data-theme="dark"] {
    --background-color: var(--body-color) !important;
    --widget-color: rgb(40, 40, 40);
  }
</style>

<script src="{% static 'js/catalog/edit_products/edit_products.js' %}?v={% now 'U' %}"></script>

{% endblock main %}
