{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock navbar %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/catalog/catalog.css' %}?v=2">
  <title>{% trans 'Понравившиеся' %}</title>
{% endblock links %}

{% block main %}
{% include 'includes/catalog/products.html' %}

<style>
  :root {
    --background-color: var(--body-color) !important;
    --widget-color: white;
  }

  [data-theme="dark"] {
    --background-color: var(--body-color) !important;
    --widget-color: rgb(40, 40, 40);
  }
</style>

<script src="{% static 'js/includes/catalog/filters/filter_settings.js' %}"></script>
<script src="{% static 'js/includes/catalog/filters/more_filters.js' %}"></script>
<script src="{% static 'js/catalog/catalog/products_manager.js' %}?v=1"></script>
<script src="{% static 'js/catalog/catalog/dialogs_manager.js' %}"></script>
<script src="{% static 'js/includes/catalog/filters/general.js' %}?v=1"></script>
<script src="{% static 'js/includes/catalog/products_list/general.js' %}"></script>

<script>
  window.onFindProductsClicked = () => {
    _onFindProductsClicked(LIKED_PRODUCTS_URL)
  };
</script>

{% endblock main %}