{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock navbar %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/catalog/my_products.css' %}">
{% endblock links %}

{% block main %}
<main class="txt-primary">
  <div class="main-inner">
    <div class="filter"></div>
    {% include 'includes/catalog/products_list.html' %}
  </div>
  {% include 'includes/footer.html' %}
</main>

<style>
  :root {
    --background-color: var(--body-color) !important;
    --widget-color: white;
  }

  [data-theme="dark"] {
    --background-color: var(--body-color) !important;
    --widget-color: rgb(40, 40, 40);
  }
</style>

<script src="{% static 'js/catalog/my_products/my_products.js' %}"></script>

{% endblock main %}