{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/includes/navbar.css' %}">
{% endblock links %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block main %}
<main class="txt-primary">
  <div class="main-inner">
    <div class="filter"></div>
    <div class="products row">
      {% for product in object_list %}
      <div class="col-9 col-md-4 col-xl-3">
        <div class="product">
          <input type="hidden" class="product-id-input" value="{{ product.id }}">
          <div class="product-image">
            <img src="{{ product.image.url }}" alt="product">
          </div>
          <div class="product-info">
            <div class="text-section">
              <h3 class="product-title">{{ product.title }}</h3>
              <p class="product-price">{{ product.cost }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include 'includes/footer.html' %}
</main>

<style>
  :root {
    --background-color: var(--body-color) !important;
    --widget-color: white;
  }

  [data-theme="dark"] {
    --background-color: var(--body-color) !important;
    --widget-color: rgb(40, 40, 40);
  }
</style>

<style>
  .main-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 1.5rem 2rem;
  }

  body {
    overflow-x: hidden;
  }

  .products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .product {
    margin: 0;
    padding: 0;
    border-radius: 0.75rem;
    background-color: var(--widget-color);
    margin-bottom: 1rem;
  }

  .product-image img {
    border-radius: 0.75rem 0.75rem 0 0;
    width: 100%;
    aspect-ratio: 460/300;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .like-section {
    height: 100%;
  }

  .product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.25rem 0.5rem 1.75rem 0.5rem;
  }

  .product-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
  }

  .product-price {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
  }
</style>

{% endblock main %}