{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/catalog/product_details.css' %}?v=2">
{% endblock links %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock navbar %}

{% block main %}
<main class="txt-primary">
  <div class="row main-row">
    <div class="col-12 col-md-10 col-xl-9" style="padding: 0; !important">
      <div class="wrapper">
        <div class="details-bar">
          <p>{{ object.title|capfirst }}</p>
          <div class="images-container">
            <img src="{{ main_image_url }}" class="product-image" data-image-index=0>
            <button class="left-arrow"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="right-arrow"><i class="fa-solid fa-arrow-right"></i></button>
            <div style="display: none;" class="additional-images">
              {% for url in image_urls %}
                <img src="{{ url }}" class="product-image" data-image-index="{{ forloop.counter0 }}">
              {% endfor %}
            </div>
          </div>
          <div class="section">
            <p>{% trans 'Описание' %}</p>
            <hr>
            <div>{{ object.description }}</div>
          </div>
          <div class="section-seller-profile">
            <p>{% trans 'Продавец' %}</p>
            <hr>
            <div class="seller-profile">
              <input type="hidden" value="{{ object.seller.id }}" class="seller-id-input">
              <img src="{{ object.seller.image.url }}" alt="">
              <div class="seller-profile-name">
                <p class="name">{{ object.seller.first_name }} {{ object.seller.last_name }}</p>
                <p class="member-since">{% trans 'На ecoblago с' %} {{ object.seller.date_joined|date:"F j, Y" }}</p>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans 'Цена' %}</p>
            <hr>
            <div>{{ object.cost|thousand_separator }} тг</div>
          </div>
          <div class="section">
            <p>{% trans 'Локация' %}</p>
            <hr>
            <div>{{ object.region|capfirst }}, {{ object.city|capfirst }}</div>
          </div>
          <div class="section">
            <p>{% trans 'Категория' %}</p>
            <hr>
            <div>{{ object.category.name|capfirst }}</div>
          </div>
          <div class="section">
            <p>{% trans 'Контакты' %}</p>
            <hr>
            <div style="padding: 3px 0;">{{ object.seller.phone_number }}</div>
            <div style="padding: 3px 0;">{{ object.seller.email }}</div>
          </div>
          <div class="buttons-wrapper">
          {% if product.seller.id == my_user.id %}
            <button class="delete-product-btn" style="margin-top: 1rem;">{% trans 'Удалить продукт' %}</button>
            <button class="edit-product-btn" style="margin-top: 1rem;">{% trans 'Редактировать продукт' %}</button> 
          {% endif %}
          </div>
        </div>
        {% include 'includes/footer.html' %}
      </div>
    </div>
  </div>
</main>

<style>
  :root {
    --background-color: var(--body-color) !important;
    --widget-color: white;
  }

  [data-theme="dark"] {
    --background-color: var(--body-color) !important;
    --widget-color: rgb(40, 40, 40);
  }
</style>

<script>
  const PRODUCT_ID = "{{ object.id }}";
</script>

<script src="{% static 'js/catalog/product_details/product_details.js' %}"></script>

{% endblock main %}
