{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/profilepage/profilepage.css' %}?v={% now 'U' %}">
<link rel="stylesheet" href="{% static 'css/includes/profilepage/personal_info.css' %}?v={% now 'U' %}">
<link rel="stylesheet" href="{% static 'css/includes/profilepage/feedback_bar.css' %}?v={% now 'U' %}">
<title>Профиль {{ user.first_name }} {{ user.last_name }}</title>
{% endblock links %}

{% block main %}
<main class="txt-primary">
  <div class="row main-row">
    <div class="col-12 col-md-10 col-xl-9">
      <div class="wrapper">
        <div class="profile-bar">
          <div class="primary-data">
            <div class="personal-data">
              {% for input_field in input_fields %}
                {% include 'includes/profilepage/personal_info.html' %}
              {% endfor %}
            </div>
            <div id="personal-image-wrapper" class="personal-image-wrapper">
              {% if user.image %}
              <img src="{{ user.image.url }}" alt="personal image" class="personal-img">
              {% else %}
              <img src="{% static 'img/noname_user.png' %}" alt="personal image" class="personal-img">
              {% endif %}

              {% if change_allowed %}
              <button id="change-image-button" class="transparent-button">
                <a class="link-text" id="change-image-text">{% trans 'Изменить изображение' %}</a>
              </button>
              {% endif %}
            </div>
          </div>

          <div class="additional-data">
            <div class="additional-info" id="about-section">
              <div class="d-flex flex-row align-items-center justify-content-between" style="gap: 1rem;"
                id="about-title">
                <p class="additional-info-tag">{% trans 'О себе' %}
                </p>
                {% if change_allowed %}
                <button class="transparent-button" id="edit-about-button">
                  <a class="link-text" id="edit-about-link">{% trans 'Изменить' %}</a>
                </button>
                {% endif %}
              </div>
              <hr class="additional-info-hr">
              <p class="additional-info-text" id="about-text">{{ about.content }}</p>
            </div>
          </div>

          <div class="additional-data">
            <div class="additional-info">
              <p class="additional-info-tag">Отзывы</p>
              <hr class="additional-info-hr">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-7 col-md-4 col-xl-3">
                    {% include 'includes/profilepage/feedback_bar.html' %}
                  </div>
                  <div class="col-7 col-md-4 col-xl-3">
                    {% include 'includes/profilepage/feedback_bar.html' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'includes/footer.html' %}
      </div>
    </div>
  </div>
</main>


<script>
  const USER_ID = "{{ user.id }}";
</script>

<script src="{% static 'js/profilepage/profilepage/profilepage.js' %}?v={% now 'U' %}"></script>
{% endblock main %}