{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/profilepage/profilepage.css' %}?v={% now 'U' %}">
<link rel="stylesheet" href="{% static 'css/includes/profilepage/personal_info.css' %}">
<link rel="stylesheet" href="{% static 'css/includes/profilepage/feedback_bar.css' %}?v={% now 'U' %}">
<title>Профиль {{ user.first_name }} {{ user.last_name }}</title>
{% endblock links %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock navbar %}

{% block main %}
<main class="txt-primary">
  <div class="row main-row">
    <div class="col-12 col-md-10 col-xl-9">
      <div class="wrapper">
        <div class="profile-bar">
          <div class="primary-data">
            <div class="personal-data">
              {% for input_field in input_fields %}
                {% include 'includes/profilepage/personal_info.html' %}
              {% endfor %}
            </div>
            <div id="personal-image-wrapper" class="personal-image-wrapper">
              {% if user.image %}
              <img src="{{ user.image.url }}" alt="personal image" class="personal-img">
              {% else %}
              <img src="{% static 'img/noname_user.png' %}" alt="personal image" class="personal-img">
              {% endif %}

              {% if change_allowed %}
              <button id="change-image-button" class="transparent-button">
                <a class="link-text" id="change-image-text">{% trans 'Изменить изображение' %}</a>
              </button>
              {% endif %}
            </div>
          </div>

          <div class="additional-data">
            <div class="additional-info" id="about-section">
              <div class="d-flex flex-row align-items-center justify-content-between" style="gap: 1rem;"
                id="about-title">
                <p class="additional-info-tag">{% trans 'О себе' %}
                </p>
                {% if change_allowed %}
                <button class="transparent-button" id="edit-about-button">
                  <a class="link-text" id="edit-about-link">{% trans 'Изменить' %}</a>
                </button>
                {% endif %}
              </div>
              <hr class="additional-info-hr">
              {% if about.content %}
              <p class="additional-info-text" id="about-text">{{ about.content }}</p>
              {% else %}
              <p class="nothing-yet">{% trans 'No information available' %}</p>
              {% endif %}
            </div>
          </div>

          <div class="additional-data">
            <div class="additional-info">
              <p class="additional-info-tag">{% trans 'Отзывы' %}</p>  
              <hr class="additional-info-hr" />
              <div class="feedbacks">
                {% if average_rating %}
                <div class="average-rating d-flex flex-row align-items-center justify-content-start gap-2 mt-1">
                  <div class="star-outer">
                    <div class="star-inner">
                    </div>
                    <style>
                      .star-inner {
                        width: {{ average_rating|to_float:1|multiply:20 }}%;
                      }
                    </style>
                  </div>
                  <p class="average-rating-value m-0 mt-1">{{ average_rating|to_float:1 }}</p>
                </div>
                {% endif %}

                {% for feedback in feedbacks %}
                  <div class="feedback-bar">
                    <a style="text-decoration: none; color: var(--txt-primary);" target="_blank" href="{% url 'profilepage:profilepage' feedback.author.id %}">
                      <div class="feedback-header">
                        <img src="{{ feedback.author.image_url }}">
                        <div>
                          <p class="author-name">{{ feedback.author.first_name }}</p>
                          <p class="author-since">{% trans 'На ecoblago с' %} {{ feedback.author.date_joined|date:"F j, Y" }}</p>
                        </div>
                      </div>
                    </a>
                    <hr class="additional-info-hr">
                    <div class="feedback-content">
                      <div class="feedback-rating-and-date">
                        <div class="rating-container">
                          {% for i in "12345" %}
                            <i class="fa-solid fa-star" style="color: {% if forloop.counter <= feedback.rating %}gold{% else %}lightgray{% endif %};"></i>
                          {% endfor %}
                        </div>
                        <p class="feedback-date">{{ feedback.date|timesince }} {% trans 'назад' %}</p>
                      </div>
                      <p class="feedback-text">{{ feedback.content }}</p>
                    </div>
                  </div>
                {% empty %}
                  <p class="nothing-yet">{% trans 'No information available' %}</p>
                {% endfor %}
              </div>
              {% if request.user != object %}
                <button style="margin-top: 1rem;" id="add-feedback-btn" class="submit-btn">{% trans 'Leave a feedback' %}</button>
              {% endif %}
            </div>
          </div>
        </div>   
        {% include 'includes/footer.html' %}
      </div>
    </div>
  </div>
</main>

<style>
  :root {
    --background-color: var(--body-color) !important;
    --widget-color: white;
  }

  [data-theme="dark"] {
    --background-color: var(--body-color) !important;
    --widget-color: rgb(40, 40, 40);
  }
</style>

<script>
  const USER_ID = "{{ user.id }}";
  const MY_USER_ID = "{{ my_user.id }}"
</script>

<script src="{% static 'js/profilepage/profilepage/profilepage.js' %}?v={% now 'U' %}"></script>
{% endblock main %}
