{% load i18n %}
{% load custom_filters %}

<main class="txt-primary">
  <div class="row main-row">
    <div class="col-12 col-md-10 col-xl-9">
      <div class="wrapper">
        <div class="profile-bar">
          <p>{% trans "Создать обьявление" %}</p>
          <div class="section">
            <p>{% trans "Название" %}</p>
            <hr>
            <div style="max-width: 500px;">
              <div style="margin-top: 1rem;" class="input-field-wrapper">
                <input type="text" name="name" id="product-name-input" placeholder="Название товара" required {% if is_editing %} value="{{ product.title|capfirst }}" {% endif %}>
                <div>{% trans "Название товара" %}</div>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans "Цена" %}</p>
            <hr>
            <div style="max-width: 500px;">
              <div style="margin-top: 1rem;" class="input-field-wrapper">
                <input type="text" name="name" id="product-cost-input" placeholder="Цена товара" required {% if is_editing %} value="{{ product.cost|thousand_separator}}" {% endif %}>
                <div>{% trans "Цена товара" %}</div>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans "Категория" %}</p>
            <hr>
            <div style="max-width: 500px;">
              <div style="margin-top: 1rem;" class="input-field-wrapper">
                <input type="text" class="select-field" name="name" id="product-category-input"
                  placeholder="Название товара" required {% if is_editing %} value="{{ product.category.name }}" {% endif %}>
                <div>{% trans "Категория" %}</div>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans "Фото" %}</p>
            <hr>
            <div class="row image-container-row">
              {% for i in "1234" %}
              <div class="col-10 col-md-5 col-xl-4">
                <div class="image-container" data-has-image="false">
                  <input type="file" id="add-image-input{{ i }}" class="add-image-input" accept="image/*" style="display: none;">
                  <label for="add-image-input{{ i }}" class="add-image-label">Добавить фото</label>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="section">
            <p>{% trans "Описание" %}</p>
            <hr>
            <div style="max-width: 500px;">
              <div style="margin-top: 1rem;" class="textarea-field-wrapper">
                <textarea class="textarea-field" type="text" name="description" id="product-description-input"
                  placeholder="Название товара" required></textarea>
                <div>{% trans "Описание" %}</div>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans "Местоположение" %}</p>
            <hr>
            <div style="max-width: 500px;">
              <div style="margin-top: 1rem;" class="input-field-wrapper">
                <input class="select-field" type="text" name="location" id="product-region-input" placeholder="Локация"
                  required>
                <div>{% trans "Регион" %}</div>
              </div>
            </div>
            <div style="display: none; max-width: 500px;">
              <div style="margin-top: 1rem;" class="input-field-wrapper">
                <input class="select-field" type="text" name="location" id="product-city-input" placeholder="Локация"
                  required>
                <div>{% trans "Город" %}</div>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans "Номер телефона" %}</p>
            <hr>
            <div style="max-width: 500px;">
              <div style="margin-top: 1rem;" class="input-field-wrapper">
                <input class="input-field" type="text" name="phone-number" id="product-phone-number-input"
                  placeholder="Номер телефона" required>
                <div>{% trans "Номер телефона" %}</div>
              </div>
            </div>
          </div>
          <div class="section">
            <p>{% trans "Почта" %}</p>
            <hr>
            <div style="max-width: 500px;">
              <div style="margin-top: 1rem;" class="input-field-wrapper">
                <input class="input-field" type="text" name="email" id="product-email-input" placeholder="Почта"
                  required>
                <div>{% trans "Почта" %}</div>
              </div>
            </div>
          </div>
          <button style="margin-top: 2.5rem;" id="publish-btn">{% trans "Опубликовать" %}</button>
        </div>
        {% include 'includes/footer.html' %}
      </div>
    </div>
  </div>
</main>

<script>
  const CSRF_TOKEN = "{{ csrf_token }}";
</script>

<script>
  class DialogsManager {
    static getRegionsDialogWidget() {
      let widget =
        `<dialog class="popup" id="regions-dialog">
        <div style="padding: 1rem;">
          <div class="row options-row">     
      `;

      for (let region of regions) {
        widget +=
          `<div style="margin-bottom: 0.5rem;" class="col-12 col-md-6 col-xl-4">
          <div class="select-option">
            <i class="fa-solid fa-city" style="color: var(--txt-primary); font-size: 1rem; margin: 0 0.5rem;"></i>
            <p>${region}</p>
          </div>
        </div>`;
      }

      widget +=
        ` </div>
        </div>
        </dialog>`;

      return widget;
    };

    static getCitiesDialogWidget(cities) {
      let widget =
        `<dialog class="popup" id="cities-dialog">
        <div style="padding: 1rem;">
          <div class="row options-row">     
      `;

      for (let city of cities) {
        widget +=
          `<div style="margin-bottom: 0.5rem;" class="col-12 col-md-6 col-xl-4">
          <div class="select-option">
            <i class="fa-solid fa-city" style="color: var(--txt-primary); font-size: 1rem; margin: 0 0.5rem;"></i>
            <p>${city}</p>
          </div>
        </div>`;
      }

      widget +=
        ` </div>
        </div>
        </dialog>`;

      return widget;
    };

    static getCategoriesDialogWidget() {
      let widget =
        `<dialog class="popup" id="categories-dialog">
        <div style="padding: 1rem;">
          <div class="row options-row">     
      `;

      for (let category of categories) {
        widget +=
          `<div style="margin-bottom: 0.5rem;" class="col-12 col-md-6 col-xl-4">
          <div class="select-option">
            <i class="fa-solid fa-list" style="color: var(--txt-primary); font-size: 1rem; margin: 0 0.5rem;"></i>
            <p>${category}</p>
          </div>
        </div>`;
      }

      widget +=
        ` </div>
        </div>
        </dialog>`;
      return widget;
    };
  }

  function displayCitiesDialog(region) {
    $.ajax({
      method: "POST",
      url: "{% url 'catalog:create' %}",
      data: {
        "region": region,
        "action": "get-cities-by-region",
        "csrfmiddlewaretoken": CSRF_TOKEN,
      },
      dataType: "json",
      beforeSend: () => {
        $(".popup").remove();
      },
      success: (data) => {
        const success = data["success"];
        if (!success) {
          showToast("Произошла ошибка при получении городов", false);
          return;
        }

        const cities = data["cities"];
        const citiesDialogWidget = DialogsManager.getCitiesDialogWidget(cities);
        $("main").prepend(citiesDialogWidget);
      },
      error: (xhr, errmsg, err) => {
        showToast("Произошла ошибка при получении городов", false);
        console.log(xhr.status + ":" + xhr.responseText)
      },
      complete: () => {
        const dialog = document.querySelector("dialog");
        dialog.showModal();
      }
    })
  }

  // Displaying categories dialog
  document.addEventListener("click", (e) => {
    if (document.querySelector(".popup") != null || !eventMatches(e, "#product-category-input")) return;
    console.log("here");


    $("main").prepend(DialogsManager.getCategoriesDialogWidget());
    const dialog = document.querySelector(".popup");
    dialog.showModal();
  });

  // Displaying regions dialog
  document.addEventListener("click", (e) => {
    if (document.querySelector(".popup") != null || !eventMatches(e, "#product-region-input")) return;

    $("main").prepend(DialogsManager.getRegionsDialogWidget());
    const dialog = document.querySelector(".popup");
    dialog.showModal();
  });

  // Displaying cities dialog
  document.addEventListener("click", (e) => {
    if (document.querySelector(".popup") != null || !eventMatches(e, "#product-city-input")) return;

    displayCitiesDialog(document.querySelector("#product-region-input").value);
  });

  // Choosing category
  document.addEventListener("click", (e) => {
    if (!eventMatches(e, ".select-option") || !eventMatches(e, "#categories-dialog")) return;

    const category = e.target.closest(".select-option").querySelector("p").textContent;
    $("#product-category-input").val(category);
    $(".popup").remove();
  });

  // Choosing region
  document.addEventListener("click", (e) => {
    if (!eventMatches(e, ".select-option") || !eventMatches(e, "#regions-dialog")) return;

    const region = e.target.closest(".select-option").querySelector("p").textContent;
    $("#product-region-input").val(region);
    $(".popup").remove();

    $("#product-city-input").parent().parent().css("display", "block");
  });

  // Choosing city
  document.addEventListener("click", (e) => {
    if (!eventMatches(e, ".select-option") || !eventMatches(e, "#cities-dialog")) return;

    const city = e.target.closest(".select-option").querySelector("p").textContent;
    $("#product-city-input").val(city);
    $(".popup").remove();
  });

  function getProductFormData() {
    const title = $("#product-name-input").val();
    const category = $("#product-category-input").val();
    const region = $("#product-region-input").val();
    const city = $("#product-city-input").val();
    const phone_number = $("#product-phone-number-input").val();
    const cost = $("#product-cost-input").val();
    const description = $("#product-description-input").val();
    const email = $("#product-email-input").val();

    let images = [];
    addImageInputs.forEach((imageInput) => {
      if (imageInput.files.length > 0) {
        images.push(imageInput.files[0]);
      }
    });

    let formData = new FormData();
    formData.append("title", title);
    formData.append("category_name", category);
    formData.append("region_name", region);
    formData.append("city_name", city);
    formData.append("phone_number", phone_number);
    formData.append("cost", cost);
    formData.append("description", description);
    formData.append("email", email);
    images.forEach((image, index) => {
      formData.append('gallery_images', image);
    });

    return formData;
  }

  // Adding images to the image containers
  const addImageInputs = document.querySelectorAll('.add-image-input');
  addImageInputs.forEach((imageInput) => {
    imageInput.onchange = () => {
      const imageContainer = imageInput.closest(".image-container");
      const hasImage = imageContainer.getAttribute('data-has-image');
      const addImageLabel = imageInput.nextElementSibling;

      if (hasImage === 'false') {
        const reader = new FileReader();
        reader.onload = (e) => {
          imageContainer.style.backgroundImage = `url(${e.target.result})`
          imageContainer.style.backgroundSize = 'cover';
          imageContainer.dataset.hasImage = 'true';
          addImageLabel.textContent = '';
          imageInput.setAttribute('disabled', 'true');
        }
        reader.readAsDataURL(imageInput.files[0]);
      }
    };
  });
</script>

<style>
  .select-option {
    cursor: pointer;
  }

  .select-option>img {
    width: 30px;
    height: 30px;

    border-radius: 10%;
    margin-right: 0.5rem;
  }

  .select-option>p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
  }

  p {
    color: var(--txt-primary);
  }

  .select-option {
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 2px solid gray;
    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .image-container-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .add-image-label {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;

    background: transparent;
    cursor: pointer;
  }

  .image-container {
    width: 100%;
    height: 200px;
    background-color: #adadad;
    opacity: 0.7;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #publish-btn,
  #save-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;

    border: none;
    outline: none;
    border-radius: 0.25rem;
    background-color: var(--green-primary);
    color: white;

    padding: 0.5rem 1rem;
  }

  #publish-btn:hover,
  #save-btn:hover {
    filter: brightness(92%);
  }

  .profile-bar .section hr {
    width: 100%;
    height: 1px;
    border: none;
    margin: 0.5rem 0;
  }

  .profile-bar .section>p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin: 0;
  }

  .profile-bar>.section {
    padding-top: 2rem;
  }

  .profile-bar {
    width: 100%;
    padding: 1rem 2.5rem 0 2.5rem;
  }

  .wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color);
    min-height: 100vh;
  }


  .main-row {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .profile-bar>p {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 0;
  }

  body {
    overflow-x: hidden;
  }

  textarea {
    min-height: 250px;
  }
</style>