{% load i18n %}

<div class="container-fluid" id="filter-wrapper">
  <div id="filter" class="row filter">
    <div class="col-12 col-md-6 col-xl-7 text-search">
      <div class="iconic-input-field-wrapper">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input
          type="text"
          placeholder="{% trans 'Что ищете?' %}"
          id="filter-text-input"
        />
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-2 location-search">
      <div class="iconic-input-field-wrapper">
        <i class="fa-solid fa-location-dot"></i>
        <input
          type="text"
          id="location-filter-input"
          placeholder="{% trans 'Вся страна' %}"
        />
      </div>
    </div>
    <div class="col-6 col-md-6 col-xl-1 more-filters">
      <button class="more-filters-btn">
        <i class="fa-solid fa-filter"></i>
      </button>
    </div>
    <div class="col-6 col-md-6 col-xl-2 submit-wrapper">
      <button
        class="search-btn"
        id="filter-btn"
        onclick="onFindProductsClicked()"
      >
        {% trans 'Поиск' %}
      </button>
    </div>
  </div>
</div>
