{% load custom_filters %}

<div class="products row">
  {% for product in object_list %}
  <div class="col-12 col-md-4 col-xl-3">
    <div class="product">
      <input type="hidden" class="product-id-input" value="{{ product.id }}">
      <div class="product-image">
        <img src="{{ product.gallery_images.first.image.url }}" alt="product">
      </div>
      <div class="product-info">
        <div class="text-section">
          <h3 class="product-title">{{ product.title }}</h3>
          <p class="product-price">{{ product.cost|thousand_separator }} тг</p>
        </div>
        <div class="like-section">
          <i class="fa-regular fa-heart like-empty"
            {% if product in liked_products %}style="display: none;" {% else %}style="display: block;" {% endif %}></i>
          <i class="fa-solid fa-heart like-full"
            {% if product in liked_products %}style="display: block;" {% else %}style="display: none;" {% endif %}></i>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
