<div class="feedback-bar">  
  <p class="feedback-author">Балбала</p>
  <div class="feedback-header">
    <div class="rating-container">
      <i class="fa-solid fa-star" style="color: gold;"></i>
      <i class="fa-solid fa-star" style="color: gold;"></i>
      <i class="fa-solid fa-star" style="color: gold;"></i>
      <i class="fa-solid fa-star" style="color: gold;"></i>
      <i class="fa-solid fa-star"></i>
    </div>
    <p class="feedback-date">28.12.2024</p>
  </div>
  <p class="feedback-text">Не деген краш</p>
</div>
