{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/authpage/authpage.css' %}">
{% endblock %}

{% block main %}
<main>
  <div class="row main-inner">
    <div class="col-8 col-md-5 col-xl-4 authbar">
      <div class="col-4 col-md-4 col-xl-4 logo-container">
        <img src="{% static 'img/ecoblago.png' %}" alt="logo" class="img-fluid logo">
      </div>

      <p class="company-name-text">
        Экоблаго
      </p>

      <p class="current-auth-type-text" id="current-auth-type-text">Вход</p>

      <div class="auth-options-container" name="auth-options-container" id="auth-options-container"
        data-current-auth-type="0">
        <button class="auth-type-button-selected" data-auth-type="login" name="auth-option-login"
          id="auth-login">Вход</button>
        <button class="auth-type-button" data-auth-type="signup" name="auth-option-signup"
          id="auth-signup">Регистрация</button>
      </div>

      <div class="auth-form" id="auth-form" name="auth-form">
        <div class="input-fields-container" id="input-fields-container">
          {% for input_field in input_fields %}
          {{ input_field }}
          {% endfor %}
        </div>
        <div class="remember-me-container">
          {{ form.remember_me }}
          {{ form.remember_me.label }}
        </div>

        <button name="commit-button" class="commit-button" id="auth-submit" type="submit">
          <p class="button-text">Продолжить</p>
          <img src="{% static 'img/right_arrow.png' %}" alt="->" class="right-arrow">
        </button>
      </div>
    </div>
  </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="{% static 'js/authpage/authpage.js' %}"></script> -->
<script>
  let CSRF_TOKEN = "{{ csrf_token }}"
  let AUTHPAGE_URL = "{% url 'authpage:authpage' %}"
  function get_error_p(content) {
    let message = document.createElement("p")
    message.setAttribute("class", "error-message")
    message.textContent = content
    setTimeout(() => {
      message.style.opacity = 0
      setTimeout(() => {
        message.remove()
      }, 200);
    }, 2000);
    return message
  }

  function get_success_p(content) {
    let message = document.createElement("p")
    message.setAttribute("class", "success-message")
    message.textContent = content
    setTimeout(() => {
      message.style.opacity = 0
      setTimeout(() => {
        message.remove()
      }, 200);
    }, 2000);
    return message
  }

  function removeAll(attrName) {
    document.querySelectorAll(attrName).forEach(item => {
      item.remove()
    })
  }

  document.addEventListener("click", e => {
    if (!e.target.matches("#auth-submit") && e.target.closest("#auth-submit") == null) return
    const currentAuthType = document.getElementById("auth-options-container").dataset.currentAuthType
    let isLogin = currentAuthType == "0"
    let isSignup = currentAuthType == "1"

    let username = $("#username").val()
    let password = $("#password").val()

    console.log(document.getElementById("auth-options-container").dataset.currentAuthType);

    let data = {
      "username": username,
      "remember_me": $("#remember-me").val() == "on",
      "action": "auth-user",
      "auth_type": document.getElementById("auth-options-container").dataset.currentAuthType,
      "csrfmiddlewaretoken": CSRF_TOKEN,
    }

    if (isSignup) {
      let phone_number = $("#phone-number").val()
      let email = $("#email").val()
      let first_name = $("#first_name").val()
      let last_name = $("#last_name").val()
      let password1 = $("#password1").val()
      let password2 = $("#password2").val()

      data["phone_number"] = phone_number
      data["email"] = email
      data["first_name"] = first_name
      data["last_name"] = last_name
      data["password1"] = password1
      data["password2"] = password2
    } else {
      let password = $("#password").val()
      data["password"] = password
    }
  
    $.ajax({
      method: "POST",
      url: AUTHPAGE_URL,
      data: data,
      dataType: "json",
      success: function (data) {
        let success = data["success"]
        if (success) {
          window.location.href = data["redirect_to"]
        } else {
          let errorMessage = data["error_message"]
          let errorMessageLocation = errorMessage[0]
          let errorMessageText = errorMessage[1]

          let formId = "auth-form"
          let submitButtonId = "auth-submit"
          let message
          if (errorMessageLocation == "undefined") {
            message = errorMessageText
          } else {
            placeholder = $("#" + errorMessageLocation).attr("placeholder")
            message = placeholder + ": " + errorMessageText
          }
          
          let errorMessageP = get_error_p(message)
          $("#" + submitButtonId).before(errorMessageP)
        }
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ":" + xhr.responseText)
      }
    })
  })

  document.addEventListener("click", e => {
    if (!e.target.matches("#auth-options-container") && e.target.closest("#auth-options-container") == null) return

    let authOptions = document.getElementById("auth-options-container")
    const currentAuthType = authOptions.dataset.currentAuthType

    let newAuthType
    if (e.target.matches("#auth-login")) {
      newAuthType = "0"
    } else {
      newAuthType = "1"
    }

    if (currentAuthType !== newAuthType) {
      $.ajax({
        method: "GET",
        url: AUTHPAGE_URL,
        data: {
          "auth_type": newAuthType,
          "action": "change-auth-type",
        },
        dataType: "json",
        success: function (data) {
          let beforeButtonId
          let afterButtonId

          if (newAuthType === "0") {
            beforeButtonId = "auth-signup"
            afterButtonId = "auth-login"
          } else {
            beforeButtonId = "auth-login"
            afterButtonId = "auth-signup"
          }

          document.getElementById(beforeButtonId).classList.remove("auth-type-button-selected")
          document.getElementById(beforeButtonId).classList.toggle("auth-type-button")

          document.getElementById(afterButtonId).classList.remove("auth-type-button")
          document.getElementById(afterButtonId).classList.toggle("auth-type-button-selected")

          authOptions.dataset.currentAuthType = newAuthType

          let inputFields = document.getElementById("input-fields-container")
          while (inputFields.lastChild != null) {
            inputFields.lastChild.remove()
          }

          console.log(data["input_fields"])
          for (let i = 0; i < data["input_fields"].length; i++) {
            let input_field = data["input_fields"][i]
            let input_field_container = document.createElement("div")
            input_field_container.innerHTML = input_field
            inputFields.appendChild(input_field_container.firstChild)
          }
        },
        error: function (xhr, errmsg, err) {
          console.log(xhr.status + ":" + xhr.responseText)
        }
      })
    }
  })


</script>

{% endblock %}