{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/authpage/authpage.css' %}?v={% now 'U' %}">
{% endblock %}

{% block main %}
<main class="txt-primary">
  <div class="row main-inner">
    <div class="col-12 col-md-7 col-xl-4 authbar">
      <div class="col-4 col-md-4 col-xl-4 logo-container">
        <img src="{% static 'img/ecoblago.png' %}" alt="logo" class="img-fluid logo">
      </div>

      <p class="company-name-text">
        {% trans "Ecoblago" %}
      </p>

      <p class="current-auth-type-text" id="current-auth-type-text">{% trans 'Вход' %}</p>

      <div class="auth-options-container" name="auth-options-container" id="auth-options-container"
        data-current-auth-type="0">
        <button class="auth-type-button-selected" data-auth-type="login" name="auth-option-login"
          id="auth-login">{% trans 'Вход' %}</button>
        <button class="auth-type-button" data-auth-type="signup" name="auth-option-signup"
          id="auth-signup">{% trans 'Регистрация' %}</button>
      </div>

      <div class="auth-form" id="auth-form" name="auth-form">
        <div class="input-fields-container" id="input-fields-container">
          {% for field, placeholder in input_fields %}
          <div class="input-field-wrapper">
            {{ field }}
            <div>{{ placeholder }}</div>
          </div>
          {% endfor %}
        </div>
        <div class="checkbox-container">
          <input type="checkbox" id="remember-me">
          <label for="remember-me" class="text">{% trans 'Запомнить меня на месяц' %}</label>
        </div>
        <button name="commit-button" class="commit-button" id="auth-submit" type="submit">
          <p class="button-text">{% trans 'Продолжить' %}</p>
          <svg id="arrow-right" class="arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
            viewBox="0 0 256 256" class="ml-1">
            <path
              d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z">
            </path>
          </svg>
          <span id="loading-gif" class="loading" style="display: none;"></span>
        </button>
        <input id="next" type="hidden" name="next" value="{{ next }}">
      </div>
    </div>
  </div>
</main>

<script src="{% static 'js/authpage/authpage.js' %}?v={% now 'U' %}"></script>
{% endblock %}
