{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/authpage/authpage.css' %}">
{% endblock %}

{% block main %}
<main>
  <div class="row main-inner">
    <div class="col-8 col-md-5 col-xl-4 authbar">
      <div class="col-4 col-md-4 col-xl-4 logo-container">
        <img src="{% static 'img/ecoblago.png' %}" alt="logo" class="img-fluid logo">
      </div>

      <p class="company-name-text">
        Экоблаго
      </p>

      <p class="current-auth-type-text" id="current-auth-type-text">Вход</p>

      <div class="auth-options-container" name="auth-options-container" id="auth-options-container"
        data-current-auth-type="0">
        <button class="auth-type-button-selected" data-auth-type="login" name="auth-option-login"
          id="auth-login">Вход</button>
        <button class="auth-type-button" data-auth-type="signup" name="auth-option-signup"
          id="auth-signup">Регистрация</button>
      </div>

      <div class="auth-form" id="auth-form" name="auth-form">
        <div class="input-fields-container" id="input-fields-container">
          {% for input_field in input_fields %}
          {{ input_field }}
          {% endfor %}
        </div>
        <div class="remember-me-container">
          {{ form.remember_me }}
          {{ form.remember_me.label }}
        </div>

        <button name="commit-button" class="commit-button" id="auth-submit" type="submit">
          <p class="button-text">Продолжить</p>
          <svg id="arrow-right" class="arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" viewBox="0 0 256 256" class="ml-1">
            <path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z">
            </path>
          </svg>
          <span id="loading-gif" class="loading" style="display: none;"></span>
        </button>
      </div>
    </div>
  </div>
</main>

<style>
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .arrow {
    width: 1.25rem;
    height: 1.25rem;
  }

  .loading {
    margin: 0;
    padding: 0;

    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .button-text {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .commit-button {
    gap: 0.25rem;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="{% static 'js/authpage/authpage.js' %}"></script> -->
<script>
  let CSRF_TOKEN = "{{ csrf_token }}"
  let AUTHPAGE_URL = "{% url 'authpage:authpage' %}"

  function removeAll(attrName) {
    document.querySelectorAll(attrName).forEach(item => {
      item.remove()
    })
  }

  document.addEventListener("click", e => {
    if (!e.target.matches("#auth-submit") && e.target.closest("#auth-submit") == null) return
    const currentAuthType = document.getElementById("auth-options-container").dataset.currentAuthType
    let isLogin = currentAuthType == "0"
    let isSignup = currentAuthType == "1"

    let username = $("#username").val()
    let password = $("#password").val()

    let data = {
      "username": username,
      "remember_me": $("#remember-me").is(":checked"),
      "action": "auth-user",
      "auth_type": document.getElementById("auth-options-container").dataset.currentAuthType,
      "csrfmiddlewaretoken": CSRF_TOKEN,
    }

    if (isSignup) {
      let phone_number = $("#phone-number").val()
      let email = $("#email").val()
      let first_name = $("#first_name").val()
      let last_name = $("#last_name").val()
      let password1 = $("#password1").val()
      let password2 = $("#password2").val()

      data["phone_number"] = phone_number
      data["email"] = email
      data["first_name"] = first_name
      data["last_name"] = last_name
      data["password1"] = password1
      data["password2"] = password2
    } else {
      let password = $("#password").val()
      data["password"] = password
    }

    $.ajax({
      method: "POST",
      url: AUTHPAGE_URL,
      data: data,
      dataType: "json",
      beforeSend: () => {
        $("#loading-gif").show();
        $("#arrow-right").hide();
        $("#auth-submit").prop("disabled", true);
      },
      success: function (data) {
        let success = data["success"]
        if (success) {
          window.location.href = data["redirect_to"]
        } else {
          let [errorWidgetId, errorMessage] = data["error_message"]
          let formId = "auth-form", submitButtonId = "auth-submit", message = errorMessage

          if (document.getElementById(errorWidgetId) != null) {
            placeholder = $("#" + errorWidgetId).attr("placeholder")
            message = placeholder + ": " + message
          }
          showToast(message, false)
        }
      },
      error: function (xhr, errmsg, err) {
        console.log(xhr.status + ":" + xhr.responseText)
      },
      complete: function () {
        $("#loading-gif").hide();
        $("#arrow-right").show();
        $("#auth-submit").prop("disabled", false);
      },
    })
  })

  document.addEventListener("click", e => {
    if (!e.target.matches("#auth-options-container") && e.target.closest("#auth-options-container") == null) return

    let authOptions = document.getElementById("auth-options-container")
    const currentAuthType = authOptions.dataset.currentAuthType

    let newAuthType
    if (e.target.matches("#auth-login")) {
      newAuthType = "0"
    } else {
      newAuthType = "1"
    }

    if (currentAuthType !== newAuthType) {
      $.ajax({
        method: "GET",
        url: AUTHPAGE_URL,
        data: {
          "auth_type": newAuthType,
          "action": "change-auth-type",
        },
        dataType: "json",
        success: function (data) {
          let beforeButtonId
          let afterButtonId

          if (newAuthType === "0") {
            beforeButtonId = "auth-signup"
            afterButtonId = "auth-login"
          } else {
            beforeButtonId = "auth-login"
            afterButtonId = "auth-signup"
          }

          document.getElementById(beforeButtonId).classList.remove("auth-type-button-selected")
          document.getElementById(beforeButtonId).classList.toggle("auth-type-button")

          document.getElementById(afterButtonId).classList.remove("auth-type-button")
          document.getElementById(afterButtonId).classList.toggle("auth-type-button-selected")

          authOptions.dataset.currentAuthType = newAuthType

          let inputFields = document.getElementById("input-fields-container")
          while (inputFields.lastChild != null) {
            inputFields.lastChild.remove()
          }

          for (let i = 0; i < data["input_fields"].length; i++) {
            let input_field = data["input_fields"][i]
            let input_field_container = document.createElement("div")
            input_field_container.innerHTML = input_field
            inputFields.appendChild(input_field_container.firstChild)
          }
        },
        error: function (xhr, errmsg, err) {
          console.log(xhr.status + ":" + xhr.responseText)
        }
      })
    }
  })


</script>

{% endblock %}